.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
#iwiBotLogo {
  margin-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: #e53935;
}
#toggleThemeButton {
  margin-right: 25px;
}

#deleteHistoryDark {
  background-color: rgb(33, 33, 33);
  cursor: pointer;
  border: none;
}

#deleteHistory {
  background-color: #bdbdbd;
  cursor: pointer;
  border: none;
}

#noConnectionMsg {
  display: flex;
  justify-content: center;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #EF5350;
  margin-left: 30px
}
