<div
  class="chatContainer"
  fxLayout="column"
  fxLayoutAlign="start center"
>
  <!-- START Chat -->
  <div
    fxFlex="75%"
    fxLayout="column"
    class="chat"
  >
    <div
      *ngFor="let message of this.conversationService.getConversationMessages()"
    >
      <!-- START Send-Message -->
      <div
        class="messageContainer"
        fxFlex="550px"
        fxFlex.xs="300px"
        fxLayout="row"
        fxLayoutAlign="end start"
      >
        <div
          fxFlex="initial"
          *ngIf="message.getIsSendMessage()"
          class="message send-message"
        >
          {{message.getPayload()}}
        </div>
      </div>
      <!-- END Send Message -->
      <!-- START Received Message-->
      <div class="messageContainer"
           fxFlex="550px"
           fxFlex.xs="300px"
           fxLayout="row"
           fxLayoutAlign="start start"
      >
        <div
          fxFlex="initial"
          *ngIf="!message.getIsSendMessage()"
          class="message received-message"

        >
          {{message.getPayload()}}
        </div>
      </div>
      <!-- END Received Message -->
      <!-- START ReceivedMessageHtmlContent -->
      <div
        class="messageHtmlContainer"
        *ngIf="message.getHtml() != '' || undefined"
        fxFlex="550px"
        fxFlex.xs="300px"
        fxLayout="row"
        fxLayoutAlign="start start"
      >
        <div
          fxFlex="initial"
          *ngIf="!message.getIsSendMessage()"
          class="message received-message"
          [innerHTML]="message.getHtml()"
        >
        </div>
      </div>
      <!-- END ReceivedMessageHtmlContent -->
    </div>
    <div id="scrollAnchor"></div>
  </div>
  <!-- END Chat -->
  <!-- START ChatControls -->
  <div
    id="chatControls"
    fxFlex
    fxLayout="row"
    fxLayoutAlign="start start"
  >
    <input #chatInputField
           id="chatInputField"
           fxFlex.xs="230px"
           type="text"
           (keyup.enter)="sendMessage(chatInputField.value)"
           [placeholder]="chatInputFieldPlaceholder"
           [value]="finalTranscript"
    />
    <div id="buttonGroup">
      <button
        mat-icon-button id="sendButton"
        (click)="sendMessage(chatInputField.value)"
        type=button
      >
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path fill="none" d="M0 0h24v24H0V0z"/>
        <path fill="rgb(33, 33, 33)" d="M3.4 20.4l17.45-7.48c.81-.35.81-1.49 0-1.84L3.4 3.6c-.66-.29-1.39.2-1.39.91L2 9.12c0 .5.37.93.87.99L17 12 2.87 13.88c-.5.07-.87.5-.87 1l.01 4.61c0 .71.73 1.2 1.39.91z"/>
      </svg>
      </button>
      <button mat-fab id="recordButton"
      [class.recording]="recognizing"
      value="send"
      (mousedown)="startVoiceRecognition($event)"
      (mouseup)="stopVoiceRecognition($event)"
      (touchstart)="startVoiceRecognition($event)"
      (touchend)="stopVoiceRecognition($event)"
      (contextmenu)="false"
      >
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path fill="white" d="M12 14c1.66 0 3-1.34 3-3V5c0-1.66-1.34-3-3-3S9 3.34 9 5v6c0 1.66 1.34 3 3 3zm5.91-3c-.49 0-.9.36-.98.85C16.52 14.2 14.47 16 12 16s-4.52-1.8-4.93-4.15c-.08-.49-.49-.85-.98-.85-.61 0-1.09.54-1 1.14.49 3 2.89 5.35 5.91 5.78V20c0 .55.45 1 1 1s1-.45 1-1v-2.08c3.02-.43 5.42-2.78 5.91-5.78.1-.6-.39-1.14-1-1.14z"/>
      </svg>
      </button>
    </div>
  </div>
  <!-- END ChatControls -->
</div>
